@model WebApplication73.Models.Entity.TBLKATEGORI
@{
	ViewBag.Title = "KategoriGetir";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Guncelle", "Kategori", FormMethod.Post))
{
	<div class="form-group">
		@Resources.Content.KategoriId
		@Html.TextBoxFor(m => m.KATEGORIID, new { @class = "form-control" })
		<br />
		@Resources.Content.KategoriAd
		@Html.TextBoxFor(m => m.KATEGORIAD, new { @class = "form-control" })


	</div>
	<div>
		<button class="btn btn-warning">@Resources.Content.Güncelle</button>
	</div>
}

